@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Lobster&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

img.logo{
    width: 10em;
    height: 10em;
}

.nav-buttons{
    width: 100%;
}

.flex{
    display: flex;
}

.position-absolute{
    position: absolute;
}

.block{
    display: block;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.nav-title{
    align-items: center;
    flex-direction: column;
}

#nav-title{
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: orange;
    font-family: 'Lobster', cursive;
    margin-top: 15px;
}

#eats{
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    margin: 0%;
}

header{
    background-color: black;
    height: 160px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 25px;
}

a:hover{
    color: orange;
}

.container{
    background-color: rgba(0, 0, 0, 0.5);
    width: 900px;
    flex-direction: column;
    margin: 20px auto;
}

div>h1{
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
}

#northern,#southern,#snacks{
    text-align: center;
    font-size: 2.5em;
    padding-top: 10px;
}

.item p{
    display: inline-block;
    margin: 10px 10px;
    font-size: 20px;
}

.food-item{
    text-align: left;
    width: 70%;
}

.price{
    text-align: right;
    width: 24%;
}

footer{
    background-color: black;
    display: flex;
}

#footer-nav{
    display: inline-flex;
    width: 30%;
    position: absolute;
    top: 1150px;
    left: 300px;
}

.inline{
    color: white;
    font-size: 22px;
    display: inline-flex;
    position: absolute;
    top: 1150px;
    left: 865px;
}

.inline-policy{
    padding-right: 7px;
    font-family: 'Ubuntu', sans-serif;
}

.footer-logo{
    flex-direction: column;
    align-items: center;
}

#footer-logo{
    display: flex;
    width: 60%;
}

#instagram,#facebook,#youtube{
    width: 1em;
    height: 1em;
    margin-right: 10px;
}

#social{
    display: flex;
    justify-content: space-evenly;
    width: 30em;
    position: absolute;
    top: 1210px;
    left: 1420px;
}

#social>a:hover{
    color: #ffa500;
}

.social{
    text-decoration: underline 2px;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 1150px;
    left: 1550px;
}

#footer-nav>p,pre{
    color: white;
    font-size: 22px;
    margin: 0 10px;
}

.number{
    font-size: 20px;
    position: absolute;
    bottom: -70px;
    right: -42px;
    width: 100%;
    line-height: 30px;
}