@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Lobster&family=Ubuntu:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

img.logo{
    width: 10em;
    height: 10em;
}

.nav-buttons{
    width: 100%;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.nav-title{
    align-items: center;
    flex-direction: column;
}

#nav-title{
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: orange;
    font-family: 'Lobster', cursive;
    margin-top: 15px;
}

#eats{
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    margin: 0%;
}

header{
    background-color: black;
    height: 160px;
}

.real{
    padding: 100px 50px;
    font-size: 3em;
    max-width: 2000px;
    height: 400px;
    color: white;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(./assets/indian-food.jpg);
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 22px;
}

a:hover{
    color: orange;
}

.title-name{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2em;
}

.title-1{
    color: white;
    text-shadow: -1.5px 1.5px 0 #ffa500,
    1.5px 1.5px 0 #ffa500,
    1.5px -1.5px 0 #ffa500,
    -1.5px -1.5px 0 #ffa500;
}

.title-3{
    color: rgba(0, 0, 0, 0.5);
}

.title-1,.title-3,.title-2{
    display: inline-flex;
    margin: 10px 40px 40px 40px;
}

.info{
    background-color: black;
    color: white;
    margin: 40px 40px 0 40px;
    display: inline-flex;
}

#text{
    width: 1140px;
}

#info-heading{
    font-size: 3em;
    margin: 40px;
    padding-top: 40px;
    color: #ffa500;
}

#info-para{
    font-size: 1.5em;
    padding-left: 40px;
    line-height: 27pt;
}

#idli{
    width: 40em;
    justify-content: right;
    overflow: hidden;
}

#info-img{
    width: 640px;
}

.info-menu{
    display: flex;
    justify-content: center;
    width: 100%;
    position:absolute;
    top: 1200px;
    right: 650px;
}

#info-menu{
    font-size: 50px;
    width: 200px;
    height: 70px;
    text-align: center;
    padding: 6px;
    background-color: #ffa500;
}

a h4#info-menu,a h4#favourite-menu:hover{
    color: white;
}

#info-menu:hover{
    background-color: rgb(255, 110, 0);
}

#bg-img{
    color: #ff7300;
    position: absolute;
    top: 1140px;
    right: 1540px;
}

#favourite-title{
    text-align: center;
    font-size: 4em;
    margin: 40px;
    padding-top: 150px;
    padding-bottom: 50px;
}

#favourite-title>h3{
    text-decoration: underline 4px;
}

.favourite-images{
    margin-top: 40px;
    width: 100%;
    display: inline-flex;
    padding-right: 70px;
}

#masala-dosa,#chicken-curry,#momos{
    width: 25em;
}

.favourite-text{
    width: 100%;
    display: inline-flex;
}

#dosa-heading,#curry-heading,#momo-heading{
    text-align: center;
    font-size: 2em;
    margin: 15px;
    color: #ffa500;
}

#dosa-para,#curry-para,#momo-para{
    font-size: 15px;
    text-align: center;
}

.menu{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#favourite-menu{
    font-size: 50px;
    width: 200px;
    height: 70px;
    text-align: center;
    padding: 6px;
    background-color: #ffa500;
}

.delicious{
    font-size: 45px;
    height: 450px;
    margin-top: 100px;
    padding-left: 75px;
    background-image: url(./assets/food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
}

#favourite-menu:hover{
    background-color: rgb(255, 110, 0);
}

.speciality{
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
    color: rgba(0, 0, 0, 0);
}

footer{
    background-color: black;
    display: flex;
}

#footer-nav{
    display: inline-flex;
    width: 30%;
    position: absolute;
    top: 2875px;
    left: 300px;
}

.inline{
    color: white;
    font-size: 22px;
    display: inline-flex;
    position: absolute;
    top: 2874px;
    left: 865px;
}

.inline-policy{
    padding-right: 7px;
    font-family: 'Ubuntu', sans-serif;
}

.footer-logo{
    flex-direction: column;
    align-items: center;
}

#footer-logo{
    display: flex;
    width: 60%;
}

#instagram,#facebook,#youtube{
    width: 1em;
    height: 1em;
    margin-right: 10px;
}

#social{
    display: flex;
    justify-content: space-evenly;
    width: 30em;
    position: absolute;
    top: 2960px;
    left: 1420px;
}

#social>a:hover{
    color: #ffa500;
}

.social{
    text-decoration: underline 2px;
    color: white;
    font-size: 35px;
    position: absolute;
    top: 2885px;
    left: 1550px;
}

#footer-nav>p,pre{
    color: white;
    font-size: 22px;
    margin: 0 10px;
}

.number{
    font-size: 20px;
    position: absolute;
    bottom: -95px;
    right: -42px;
    width: 100%;
    line-height: 30px;
}

.marquee{
    --demo-marquee_duration: 9s;
    --demo-marquee_gap: var(--demo-marquee_space);

    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--demo-marquee_gap);
}

.marquee-group{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--demo-marquee_gap);
    min-width: 100%;
    animation: scroll var(--demo-marquee_duration) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
    .marquee-group {
        animation-play-state: paused;
    }
}

@keyframes scroll {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-100%,0);
    }
}